---
import '../../styles/sunder-theme.css';
import CampaignQueryPageEntry from "../../components/library/CampaignQueryPageEntry.tsx";
---

<html lang="en">
<body>
<CampaignQueryPageEntry client:load />
</body>
</html>