---
import '../../styles/sunder-theme.css';
import CharacterSheetQueryPageEntry from "../../components/characters/CharacterSheetQueryPageEntry.tsx";
---

<html lang="en">
<body>
<CharacterSheetQueryPageEntry mode="edit" client:load />
</body>
</html>